$primary: #000;
$primaryVariant: #000;
$secondary: #000;
$secondaryVariant: #000;
$highlight: #000;
@import url(https://fonts.googleapis.com/css?family=Montserrat|Plus+Jakarta+Sans|Caveat);

*{
    margin: 0;
    padding: 0;
}